<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

   <h1>Quora</h1>

   <% for(let i=0; i<posts.length; i++){ %>
    <div class="post">
        <h3 class="user">username: @<%= posts[i].username %></h3>
        <h3 class="cont">content: <%= posts[i].content %></h3>
    </div>
    <hr>
   <% } %>

</body>
</html>