<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora posts</title>
</head>
<body>

   <h1> this is quora page</h1>

   <% for(let i=0; i<post.length; i++){ %>
    <div>
        <h3>username: @<%= post[i].username %></h3>
        <h3>content: <%= post[i].content %></h3>
    </div>
    <hr>
   <% } %>

</body>
</html>