<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quora posts</title>
</head>
<body>

   <h1> this is quora page</h1>

   <% for(posts in post){%>
    <div>
        <h3>username:@<% username.post %></h3>
        <h3>content:<% content.post %></h3>
    </div>

   }
</body>
</html>